<template>
  <div class="home">
    <HiddenWords />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import HiddenWords from "@/components/HiddenWords.vue";

export default {
  name: 'Home',
  components: {
    HiddenWords,
    HelloWorld
  }
}
</script>
