<template>
    <table class="letter-grid">
        <tr v-for="row in grid">
            <td v-for="cell in row" :class="cssClass(cell)">
                <span class="letter">{{cell.letter}}</span>
                <div v-if="cell.direction && showSolution" :class="['solution','direction-'+cell.direction]"></div>
            </td>
        </tr>
    </table>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {CellContents} from '@/grid-computer';

@Component
export default class Grid extends Vue {
  @Prop() private grid!: string[][];

  @Prop() private showSolution!: boolean;

  private cssClass(cell: CellContents) {
    const result = ['type-' + cell.type];
    if (cell.direction != null) {
      result.push('direction-' + cell.direction);
    }
    return result;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    $solutionMarkerBg: #ff7777;
    .letter-grid {
        margin: auto;
        border-collapse: collapse;

        td {
            border: 1px solid black;
            width: 2em;
            height: 2em;
            text-transform: capitalize;
            text-align: center;
            vertical-align: middle;
            position: relative;

            .letter {
                z-index: 20;
            }

            .solution {
                position: absolute;
                top: 25%;
                left: 0;
                bottom: 75%;
                right: 0;
                background: transparent;
                border: 2px solid red;
                border-bottom: 2px solid red;
                height: 50%;
                width: 100%;
                z-index: 10;

                &.direction-down {
                    transform: rotate(90deg);
                }
                &.direction-downRight {
                    transform: rotate(45deg);
                }
            }
        }

        @media screen {

            td.type-word {
                font-weight: bold;
            }
        }
    }


</style>
