<template>
    <div>
        <div class="controls">
          <textarea class="words" rows="10" cols="50" v-model="wordInput">
          </textarea>

            <div>Spalten: <input v-model="columns"/></div>
            <div>Zeilen: <input v-model="rows"/></div>
            <button @click="recompute">Neu berechnen</button>
            <button @click="showSolution = false" v-if="showSolution">Lösung ausblenden</button>
            <button @click="showSolution = true" v-if="!showSolution">Lösung einblenden</button>
            <button @click="print">Drucken</button>
            <div class="error" v-if="errorMessage">{{errorMessage}}</div>
        </div>
        <Grid :grid="letters" :show-solution="showSolution"/>

        <div class="words">
            <div class="word" v-for="word in words">{{word}}</div>
        </div>


    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Grid from '@/components/Grid.vue';
import {CellContents, GridComputer} from '@/grid-computer';

@Component({
  components: {Grid},
})
export default class HiddenWords extends Vue {
  private letters: CellContents[][] = [];
  private showSolution: boolean = false;

  private columns: number = 8;
  private rows: number = 8;

  private wordInput: string = 'Haus Fahrrad';
  private words: string[] = [];

  private errorMessage: string | null = null;

  public mounted() {
    if (window.localStorage.gridSettings) {
      const settings = JSON.parse(window.localStorage.gridSettings);
      this.columns = settings.columns;
      this.rows = settings.rows;
      this.wordInput = settings.wordInput;
      this.recompute();
    }
  }

  public recompute() {
    window.localStorage.gridSettings = JSON.stringify({
      wordInput: this.wordInput, columns: this.columns, rows: this.rows,
    });
    const gridComputer = new GridComputer(this.columns, this.rows, this.wordInput);
    try {
      gridComputer.fillGrid();
      gridComputer.fillEmptyCells();
      this.errorMessage = null;
    } catch (error) {
      // tslint:disable-next-line
      console.error(error.stack);
      this.errorMessage = error.message;
    }
    this.letters = gridComputer.getGrid();
    this.words = gridComputer.getWords();
  }

  public print() {
    window.print();
  }
}
</script>

<style scoped lang="scss">
    .error {
        border: red;
        color: red;
        background-color: white;
    }

    .words {
        width: 100%;
        display: flex;
        margin-top: 2em;
        flex-wrap: wrap;
        justify-content: center;

        .word {
            width: 15%;
            margin: 0.5em;

        }
    }

    .controls {
        @media print {
            display: none;
        }
        margin: 2em;
        border: 1px dashed gray;
        background-color: #eee;

        * {
            margin: 0.5em;
        }
    }
</style>
